<!DOCTYPE html>
<html>
  <head>
    <title>Projeto Million</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bem vindo a API do projeto million</h1>
    <p>Informacao que sera mostrada da API</p>

    <a href="/adm.json" target="_blank">Clique aqui para chamar a primeira API</a>
  </body>
</html>
